img[src="https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/Playground/wip.png"], img[src="https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/Playground/wip.png"] + br {
    display: none;
}

input.major[value="+"], input.major[value="?"], input.major[value="x"], #taghide {
    font-size: 0px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-repeat: no-repeat;
}

input.major:not([disabled]):active {
    background-position: 1px 1px;
}
input.major[value="+"] {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/add.png");
}
#taghide, input.major[value="x"] {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/remove.png');
}
input.major[value="?"] {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/help.png');
}
.rate button.up, .rate input[type="button"].up {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/like-gray.png');
}
.rate button.up.lit, .rate input[type="button"].up.lit {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/like.png');
}
.rate button.down, .rate input[type="button"].down {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/dislike-gray.png');
}
.rate button.down.lit, .rate input[type="button"].down.lit {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/dislike.png');
}
.reply {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/reply2.png') !important;
}
.gear {
    background-image: url('https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/gear.png');
}

.rate input.major:active {
    background-position: 3px 3px;
}

.fav.unlit {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/grayheart.png");
}
.fav.lit {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/heart.png");
}

.notify.unlit {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/graybell.png");
}
.notify.lit {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/bell.png");
}

.rss {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/rss.png");
}

input.major[value="▲"], input.major[value="▼"] {
    font-size: 0px;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
}
input.major[value="▲"] {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/up.png");
}
input.major[value="▼"] {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/down.png");
}
input.major[value="▲"]:disabled {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/up-gray.png");
}
input.major[value="▼"]:disabled {
    background-image: url("https://file.garden/W1K6HZQ1fV1iP3Sq/mspfa/MSPFA%20extras%20files/down-gray.png");
}

#storypages th > * {
    vertical-align: middle;
}