input.major[value="+"], input.major[value="?"], input.major[value="x"], #taghide {
    font-size: 0px;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-repeat: no-repeat;
}

input.major:not([disabled]):active {
    background-position: 1px 1px;
}
input.major[value="+"] {
    background-image: url("./assets/add.png");
}
#taghide, input.major[value="x"] {
    background-image: url('./assets/remove.png');
}
input.major[value="?"] {
    background-image: url('./assets/help.png');
}
.rate button.up, .rate input[type="button"].up {
    background-image: url('./assets/like-gray.png');
}
.rate button.up.lit, .rate input[type="button"].up.lit {
    background-image: url('./assets/like.png');
}
.rate button.down, .rate input[type="button"].down {
    background-image: url('./assets/dislike-gray.png');
}
.rate button.down.lit, .rate input[type="button"].down.lit {
    background-image: url('./assets/dislike.png');
}
.reply {
    background-image: url('./assets/reply2.png') !important;
}
.gear {
    background-image: url('./assets/gear.png');
}

.rate input.major:active {
    background-position: 3px 3px;
}

.fav.unlit {
    background-image: url("./assets/grayheart.png");
}
.fav.lit {
    background-image: url("./assets/heart.png");
}

.notify.unlit {
    background-image: url("./assets/graybell.png");
}
.notify.lit {
    background-image: url("./assets/bell.png");
}

.rss {
    background-image: url("./assets/rss.png");
}

input.major[value="▲"], input.major[value="▼"] {
    font-size: 0px;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
}
input.major[value="▲"] {
    background-image: url("./assets/up.png");
}
input.major[value="▼"] {
    background-image: url("./assets/down.png");
}
input.major[value="▲"]:disabled {
    background-image: url("./assets/up-gray.png");
}
input.major[value="▼"]:disabled {
    background-image: url("./assets/down-gray.png");
}

#storypages th > * {
    vertical-align: middle;
}